@model FinneJobber.Models.ViewModels.CategoryVM

<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input asp-for="Category.Id" hidden/>
    <input asp-for="Category.ImageUrl" hidden/>
    
</form>
@section Scripts{
    @{
            <partial name="_ValidationScriptsPartial"></partial>
    }
}