@model Job

<form method="post" asp-action="Delete">
    <input asp-for="Id" hidden></input>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text">Delete Job</h2>
            <hr />
        </div>
        <div class="mb-3" style="width:40%">
            <label asp-for="JobLocation"></label>
            <input asp-for="JobLocation" disabled class="form-control"/>
            <span asp-validation-for="JobLocation" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-danger" style="width:150px">Delete</button>
        <a asp-controller="Job" asp-action="Index" class="btn" style="width:fit-content">
            Back to Job List
        </a>
    </div>
</form>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial"></partial>
}
}