@model FinneJobber.Models.ViewModels.JobVM

<form method="post" asp-action="Delete">
    <input asp-for="Job.Id" hidden/>

</form>
@section Scripts{
@{
    <partial name="_ValidationScriptsPartial"></partial>
}
}