<div class="container p-3" align="center">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text">Job List</h2>
        </div>
        <div class="col-6">
            <a asp-controller="Job" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus"></i> &nbsp; Create New Job
            </a>
        </div>
    </div>
    <br />
    <br />

<table id="tblData" class="table table-light" style="width:70%" align="center">
    <thead>
        <tr>
            <th>Category</th>
            <th>Description</th>
            <th>Job Location</th>
            <th>Date</th>
            <th>Time</th>
            <th>Budget</th>
            <th>JobPoster</th>
            <th>Applied JobSeekers</th>
            @*<th></th>*@
        </tr>
    </thead>
</table>
</div>
@section Scripts
{
    <script src="~/js/job.js"></script>
}