@model JobCart

<form method="post" asp-action="Apply">
    <input asp-for="Job.Id" hidden/>
    
</form>
@section Scripts{
    @{
            <partial name="_ValidationScriptsPartial"></partial>
    }
}